        body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;  /* Centrado horizontal */
        align-items: center;
        background-image:url('../images/fondo_login.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        }

        /* Contenedor principal */
        .login-container {
            background-color: white;
            background-position: center;
            padding: 40px 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
            width: 300px;
        }

        /* Imagen superior */
        .login-container img {
            width: 120px;
            height: auto;
            margin-bottom: 20px;
        }

        /* Estilo del formulario */
        form {
            display: flex;
            flex-direction: column;
        }

        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }

        button {
            padding: 10px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .error {
            color: red;
            font-size: 14px;
            margin-bottom: 15px;
        }