* {
    margin: 0.3;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: url('../images/fondo_user.jpg') center/cover fixed no-repeat;
}

.salir {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    background: url('../images/atras.png') center/contain no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.salir h2{
    color:#2006b3;
}

.salir:hover {
    transform: scale(1.1);
}

.salir img {
    opacity: 0;
    width: 100%;
    height: auto;
}

.profile {
    width: 100%;
    max-width: 500px;
    background-color: white;
    /*background: url('../images/fondo_profile.jpg') center/cover no-repeat;*/
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding: 40px 30px;
    text-align: center;
    color: #333;
    backdrop-filter: blur(2px);
}

.photo {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info h1 {
    font-size: 32px;
    color: #222;
    margin-bottom: 10px;
}

.details {
    text-align: left;
    color:#000000;
}

.details i{
    color:#000000;
    font-size: 25px;
}

.details span {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
}

input {
    font-size: 18px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28aabb;
    color: #fcf9f9;
    font-size: 19px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #208a9a;
}

.edit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: url('../images/EditImg.png') center/contain no-repeat;
    cursor: pointer;
    transition: transform 0.9ms ease-out;
}

.edit:hover {
    transform: scale(1.1);
}

.edit img {
    opacity: 0;
    width: 100%;
    height: auto;
}

i {
    font-size: 22px;
    color: #444;
    margin-right: 5px;
}
