    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;  /* Centrado horizontal */
        align-items: center;
        background-image:url('../images/fondo_user.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        }
    .user-container {
            background-color: white;
            background-position: center;
            padding: 50px 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
            height: 500px;
            width: 600px;
        }
        button {
            padding: 10px;
            background-color: #0b4f99;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }
        .back-button {
    position: fixed;        /* Fija el botón en pantalla */
    top: 20px;              /* Distancia desde la parte superior */
    left: 20px;             /* Distancia desde la izquierda */
    background-color: #ffffffcc; /* Blanco semitransparente */
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
    z-index: 1000;          /* Asegura que esté por encima del contenido */
}
